{% extends 'runsheet/admin_base.html' %}
{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Schedules</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Task Title</th>
          <th>Start Date&Time</th>
          <th>Finish Date&Time</th>
          <th>Info</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for a in schedules %}
      
      <tr>
        <td> {{a.employeeName}}</td>
        <td>{% for b in tasks %}
        {% if b.id == a.taskId%}
        {{b.taskTitle}}
        {% endif  %}
        {% endfor %}</td>
        <td>{{a.scheduleStart}}</td>
        <td>{{a.scheduleFinish}}</td>
        <td>{{a.scheduleInfo}}</td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-schedule-from-runsheet' a.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock content %}
