<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Datacenter Homepage</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="nav-wrapper">
        <div class="left-side">
            <div class="nav-link-wrapper active-nav-link">
                <a href="index.html">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="about.html">About</a>
            </div>
        </div>

        <div class="right-side">
            <div class="#">
                <a href="/adminlogin">login</a>
            </div>
            <div class="#">
                <a href="/adminsignup">Admin signup</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/employeesignup">Employee signup</a>
            </div>
            <div class="brand">
                STANBIC BANK DC
            </div>
        </div>
    </div>
  {%block content%}

  {%endblock content%}

</body>
<script>
    const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper');

    portfolioItems.forEach(portfolioItem => {
        portfolioItem.addEventListener('mouseover', () => {
            console.log(portfolioItem.childNodes[1].classList)
            portfolioItem.childNodes[1].classList.add('image-blur');
        });

        portfolioItem.addEventListener('mouseout', () => {
            console.log(portfolioItem.childNodes[1].classList)
            portfolioItem.childNodes[1].classList.remove('image-blur');
        });
    });
</script>
</html>