{% extends 'runsheet/homebase.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <div class="content-wrapper">
            <div class="portfolio-items-wrapper">

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url({% static 'images/portfolio7.jpg'%})"></div>

                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/dashtrack.png' %}" alt="">
                        </div>

                        <div class="subtitle"><a href="#" >RUNSHEETS.</a></div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url({% static 'images/portfolio6.jpg' %})"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/devcamp.png' %}" alt="">
                        </div>

                        <div class="subtitle"><a href="https://standardbank.sharepoint.com/:f:/r/sites/CorporateFunctions_KE/IT/IT%20DataCentre/EOD%20Daily?csf=1&web=1&e=IAwbEo" target="_blank">DC LIBRARY.</a></div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url({% static 'images/portfolio13.jpg' %})"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/eventbrite.png' %}" alt="">
                        </div>

                        <div class="subtitle"><a href="#" >SHIFT SCHEDULE.</a></div>
                    </div>
                </div>

                <div class="portfolio-item-wrapper">
                    <div class="portfolio-img-background" style="background-image:url({% static 'images/portfolio14.jpg' %})"></div>
                    <div class="img-text-wrapper">
                        <div class="logo-wrapper">
                            <img src="{% static 'images/logos/shop-hacker.png' %}" alt="">
                        </div>

                        <div class="subtitle"><a href="https://www.insightoftheday.com/" target="_blank">DAILY QUOTE.</a></div>
                
                    </div>
                </div>


            </div>
        </div>

{% endblock content %}
